
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 33% 17%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 174 84% 56%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 174 60% 50%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32% 23%;
    --input: 217 32% 23%;
    --ring: 212 35% 65%;

    --radius: 0.5rem;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 174 84% 56%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 32% 20%;
    --sidebar-accent-foreground: 210 40% 90%;
    --sidebar-border: 217 32% 20%;
    --sidebar-ring: 174 84% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.price-up {
  @apply text-positive transition-colors duration-300;
}

.price-down {
  @apply text-negative transition-colors duration-300;
}

.animate-price-up {
  @apply animate-pulse-price-up;
}

.animate-price-down {
  @apply animate-pulse-price-down;
}
